Babel
beautifulsoup4
Brotli
bs4
certifi
cffi
charset-normalizer
click
colorama
cssselect2
distlib
EditorConfig
filelock
fonttools
ghp-import
html5lib
httplib2
idna
Jinja2
jsbeautifier
libsass
Markdown
markdown-callouts
MarkupSafe
mergedeep
mkdocs
mkdocs-material
mkdocs-material-extensions
mkdocs-mermaid2-plugin
mkdocs-plantuml
mkdocs-print-site-plugin
mkdocs-with-pdf
mkdocs_puml
mkdocs_pymdownx_material_extras
mkdocs-video
packaging
paginate
pathspec
pillow
pipenv
plantuml
platformdirs
pycparser
pydyf
Pygments
pymdown-extensions
pyparsing
pyphen
python-dateutil
PyYAML
pyyaml_env_tag
regex
requests
six
soupsieve
tinycss2
urllib3
virtualenv
watchdog
weasyprint
webencodings
zopfli
