# https://github.com/mkdocs/mkdocs/discussions/3432#discussioncomment-7320345
name: Build and deploy

on:
  push:
    tags-ignore:
      - '**' # Ignore any tags here
    branches:
      - main
      - master
  workflow_dispatch: # Allow manual triggers
    #
    # Trigger when either files in the docs folder,
    # the requirements.txt file or the mkdocs.yml file
    # are edited and commited.
    paths:
      - 'docs/**'
      - 'requirements.txt'
      - 'mkdocs.yml'
env:
  ENABLE_PDF_EXPORT: 1
# These permissions are required for it to work
permissions:
  contents: write
  pages: write
  id-token: write

# Makes sure only one workflow runs at a time.
concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  buildAndDeploy:
    runs-on: ubuntu-latest
    # This environment is required!
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Python 3.x
        uses: actions/setup-python@v4
        with:
          python-version: '3.x' # Uses latest 3.x version.
      - name: Install dependencies
        # Alternatively: pip install mkdocs
        run: pip install -r requirements.txt
      - name: Build Docs
        run: mkdocs build
      - name: Configure GitHub Pages
        # I have no idea if this actually needed...
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'site/' # MkDocs builds to site/ by default
      - name: Deploy to GitHub Pages
        id: deployment # This is required for environment
        uses: actions/deploy-pages@v2
        # Asagisi, PDF halini release ediyort ama kendi release'inin uzerine yazamiyor. Iptal ettim.
        # Bunun yerine dogrudan pdf linkini ekledim README.MD dosyasına.
      # - name: Upload binaries to release
        #uses: svenstaro/upload-release-action@v2
        #with:
        #  repo_token: ${{ secrets.GITHUB_TOKEN }}
        #  file: site/BilgisayarAglari-MuratÖzalp.pdf
        #  #asset_name: BilgisayarAglari-MuratÖzalp.pdf
        #  tag: ${{ github.ref }}
        #  overwrite: true
        #  body: "Güncel sürüm PDF oluşturuldu"
